#############################################################
#sddm
{	 width:767px; 
	margin-left:-40px;
	padding: 0;
	z-index: 30;
	width:767;
	height:39px;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
	}

#sddm li a
{	display: block;
	margin: 0;
	padding:0;
	height:39px;
	overflow: hidden;
	background: #41030c;
	color: #FFF;
	background-repeat:no-repeat;
	}

#sddm  li#services,
#sddm  li#services a.not { width: 161px; background-color: #330000;}
#sddm  li#portfolio,
#sddm  li#portfolio a.not2 { width: 160px; background-color: #330000;}
#sddm  li#contact,
#sddm  li#contact a.not3 { width: 172px; background-color: #330000;}
#sddm  li#others,
#sddm  li#others a.not4 { width: 134px; background-color: #330000;}
#sddm  li#about2,
#sddm  li#about2 a.not5 { width:140px; background-color: #330000;}
#sddm li a:hover
{	background: #5d020c;background-position: 0 -39px;}
#sddm div
{
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #5d020c;
	border: 0px solid #5970B2;
	background-color: #660f0b;
	z-index:20;
	
}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding-left:30px;
		padding-top:3px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #5d020c;
		color: #ffffff;
		font: 11px arial;
		background-image:url(../images/NewWelcomePage/bg_drop.jpg);
		background-repeat:no-repeat;
		width:110px;
		height:16px;
		border-bottom:1px solid #813f46;
		
		}

	#sddm div a:hover
	{	background-position: 0 -16px;
		
		color: #d14655}
#############################################################