BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 12px;
	MARGIN-LEFT: 0px; COLOR: #000000;
	FONT-FAMILY: Verdana, Helvetica,Sans-Serif; BACKGROUND-COLOR: #ffffff
}

.button {
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY: verdana,Helvetica, Sans-Serif;
	color: ##003366;
	BACKGROUND-COLOR: #E6E6E6;
}

INPUT {
	FONT-SIZE: 8pt;
	FONT-FAMILY: verdana, Helvetica, Sans-Serif;
	BACKGROUND-COLOR: #FFFFFF;
}

.textbox {
	FONT-SIZE: 8pt;
	FONT-FAMILY: verdana, Helvetica, Sans-Serif;
	BACKGROUND-COLOR: #FFFFFF;
}

SELECT {
	FONT-SIZE: 8pt;
	FONT-FAMILY: verdana, Helvetica, Sans-Serif;
	BACKGROUND-COLOR: #FFFFFF;
}

TH {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	FONT-FAMILY: Verdana, Helvetica, Sans-Serif;
	COLOR: 0066CC;
	BACKGROUND-COLOR: #CCCCCC;
	text-align: center;
	height: 18px;
}
TD {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica, Sans-Serif;
	border: 1px solid #CCCCCC;

}

TABLE{
	border: 1px solid #CCCCCC;
}

.header {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #FFFFFF;
	border: none;
	background-color: #AF7817;
}

.columnHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #003366;
	FONT-FAMILY: verdana, Helvetica, Sans-Serif;
}

.toplinkw {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px; COLOR: #ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.subheader2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #000000;
	FONT-FAMILY: verdana, Helvetica, Sans-Serif;
}
.subheaderPMTR {
	font-family: Verdana;
	font-size: 10pt; color: #672323;
	font-weight: bold; 
}

.subheaderPMTD {
	color: #000080;
	font-size: 8pt;
	font-family: Verdana
}
.comboPM {
	font-family: Verdana;
	font-size: 8pt;
	color: #892E2E;
}

.textDatePM{
	text-align: center;
	color: #892E2E; font-size: 8pt;
	font-family: Verdana
}

.textPM {
	color: #892E2E;
	font-size: 8pt;
	font-family: Verdana;
	text-align: center
}
	
.tdPMCenter {
	color:#000080;
	font-size: 10pt;
	font-family: Verdana;
	text-align: center
}
	
.tdPMLeft {
	color:#000080;
	font-size: 10pt;
	font-family: Verdana;
	text-align: left
}
	
.tdPMRight {
	color:#000080;
	font-size: 10pt;
	ont-family: Verdana;
	text-align: right
}

buttonPM {
	color:#000080;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold
}

.label{
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica, Sans-Serif;
}

.dataCell{
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica, Sans-Serif;
	COLOR: #000080;
	BACKGROUND-COLOR:#EDF5FC;
	text-align: center;
	height: 20px;
	border: 1px solid #000080;
}

.td_aboutascc1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 20px;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #a2c488
}

.td_aboutascc2 {
	BACKGROUND-COLOR: #b9d3a5
}

.td_front1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 20px;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #73b2dd
}

.td_front2 {
	BACKGROUND-COLOR: #badbf3
}

.td_careers1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 20px;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #b5c6bc
}

.td_careers2 {
	BACKGROUND-COLOR: #c9d6cf
}

.tdWithoutBackground {
	FONT-SIZE: 12px; COLOR: #666666
}

.Menu {
	FONT-SIZE: 12px;
	COLOR: #000000;
	BACKGROUND-COLOR: #c5bfd9
}

.WHITE {
	BACKGROUND-COLOR: #ffffff
}

.Lightgray {
	FONT-SIZE: 11px;
	BACKGROUND-COLOR: #f2f2f2
}

.Mediumgray {
	FONT-SIZE: 11px;
	COLOR: #666666;
	BACKGROUND-COLOR: #cbcbcb
}

.Darkgray {
	FONT-SIZE: 11px;
	COLOR: #d0d0d0;
	BACKGROUND-COLOR: #666666
}

.DarkBlue {
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Helvetica, Sans-Serif;
	BACKGROUND-COLOR: #254c73
}

.text {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	COLOR: #333333; 
	FONT-FAMILY: Helvetica, Sans-Serif
}

.textContent {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	COLOR: #666666; 
	FONT-FAMILY: Helvetica, Sans-Serif
}

.textitalic {
	FONT-SIZE: 15px; 
	COLOR: #666666; 
	FONT-FAMILY: Helvetica, Sans-Serif
}

.small {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9px; 
	COLOR: #333333; 
	FONT-FAMILY: verdana, Helvetica, sans-serif
}

.bold {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #000000
}

A:link {
	COLOR: black; 
	FONT-FAMILY: Verdana,Helvetica, sans-serif; 
}

A:visited {
	FONT-WEIGHT: bold; 
	COLOR: #666666; 
	FONT-FAMILY: Verdana,Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

A:active {
	FONT-WEIGHT: bold; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana,Helvetica, sans-serif; 
	TEXT-DECORATION: underline
}

A:hover {
	FONT-WEIGHT: bold; 
	COLOR: #23489b; 
	FONT-FAMILY: Verdana,Helvetica, sans-serif; 
	TEXT-DECORATION: underline
}

A.tabLinks {
	FONT-SIZE: 9pt; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left; 
	TEXT-DECORATION: underline
}

A.tabLinks:visited {
	FONT-SIZE: 9pt; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left; 
	TEXT-DECORATION: none
}

A.tabLinks:hover {
	FONT-SIZE: 9pt; 
	COLOR: #f2eca6; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left; 
	TEXT-DECORATION: underline
}

.confirm {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #ff0000; 
	TEXT-ALIGN: justify
}
.menuback {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	BACKGROUND-IMAGE: url(../images/MenuBack.gif); 
	FONT-STYLE: normal; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.styles {
	FONT-SIZE: 8px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.toolTipElement {
	cursor: pointer;
	
}
.tool-tip {
	color: White;
	width: 172px;
	background-color:#736F6E;
	z-index: 20000;
	}
 
.tool-title {
	font-weight: bold;
	
	font-size: 9pt;
	margin: 0;
	padding: 8px 8px 4px;

	
}
 
.tool-text {
	font-size: 8.5pt;
	padding: 4px 8px 8px;	
	
}
.tool-position{
	
	position: inherit;
	
    
}

.msgbox {
	display: none;   
    position: absolute;
    left: 20px;
    width: 10em;
    background-color: #b00;
    border: 1px solid #333;
    color: #fff;
    font-weight: bold; 
}

.msgbox p {
    margin: 0;
    padding: 5px 10px; 
}

.msgbox a.close {
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 0 4px;
    margin-left: 5px; }
    
    #navBar{
	float: left;
	width: 5%;
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
#masthead{
	padding: 10px 0px 0px 0px;
	border-bottom: 0px solid #cccccc;
	width: 50%;
	height:10%;
}



#headlines{
  float:right;
	width: 10%;
	border-left: 0px solid #cccccc;
	border-bottom:0px solid #cccccc;
	padding-right: 10px;
}

#content{
	float: none;
  width: 100%;
}
    
    
    #siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
}

#siteInfo img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}

.pageheader {
	color: #CC6600;
	font-size: 12pt;
	font-weight: bold;
	font-family: Verdana;
	text-align: center;
	border-color: #FFFFFF;
	border-collapse: collapse
}
 
.subheader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana, Helvetica, Sans-Serif;
	background-color: #DEB887;
	text-align: center;
	height: 25px;
}

.subheader-data {
	text-align: center;
	height: 20px;
}

.list-item{
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica, Sans-Serif;
	COLOR: #cc6600;
}